doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Little Rock Tech Fest 2014
		link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700", rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
		link(link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css")
		link(href="/public/archive/2014/2014-site.css", rel="stylesheet")
	body

		.header
			img(src="/public/archive/2014/img/logo_lrtf-white.png")
			h1 2014

		.section
			.section-header
				h2 Sponsors
				h3 Little Rock Tech Fest was a great succes, thanks in no small part to our wonderful sponsors

			.section-content
				#sponsors-content
					.container-fluid
						.row.logo-row
							each sponsor in sponsors
								a(href="#{sponsor.Website}")
									.logo-container
										.level
											i(class="fa fa-trophy #{sponsor.Level}")
											span #{sponsor.Level} Sponsor
										.logo-frame
											.logo-img
											img(src="#{sponsor.Logo}")
		.section
			.section-header
				h2 Speakers
				h3 In 2014, we had an awsome lineup of speakers

			.section-content
				each speaker in speakers
					.container-fluid
						.row.speaker
							.col-sm-3.col-md-2.photo
								img(src="#{speaker.Photo}")
							.col-sm-8.col-md-9
								.name #{speaker.FirstName} #{speaker.LastName}
								for talk in speaker.Presentations
									.talk-title #{talk.Topic}
									.talk-description 
										!{talk.Description}
					hr

