extends layout

block content
	#landing
		.container-fluid
			#time-place
				hr
				.time-place-inner
					span.fa.fa-calendar-o
					span Friday, October 16, 2015
					.sep
					span.h3.fa.fa-map-marker
					span Statehouse Convention Center
				hr
			#landing-content.text-center
				h1 Little Rock<br> Tech Fest
				h3 One-day <strong>technology</strong> conference featuring popular developer topics from industry leaders
		
			#announcement
				.row
					.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.alert.alert-warning
						p.text-center Tech Fest 2015 has a date! Mark your calendars for October 16th! 

	#sponsors
		.section
			.section-header
				h2 Sponsors
				h3 We are currently seeking sponsors for 2015. To see your logo here, please <a href="/sponsors">contact</a> us!
			.section-content
				#sponsors-content
					.container-fluid
						.row.logo-row
							each sponsor in sponsors
								a(href="#{sponsor.Website}")
									.item-container
										.level
											i(class="fa fa-trophy #{sponsor.Level}")
											span #{sponsor.Level} Sponsor
										.logo-frame
											.logo-img
											img(src="#{sponsor.Logo}")
							a(href="/sponsors")
								.item-container
									.level
										i.fa.fa-trophy.silver
										span Sponsor Us!
									.logo-frame
										.logo-img
										img(src="/public/img/sponsors/default.png")
	#team
		.section
			.section-header
				h2 The Team
				h4 Meet the team behind Little Rock Techfest. Feel free to chat us up with questions, concerns and ideas.
				h4 Want to help plan the premeier developer conference in Arkansas? Drop us a line and we'll put you to work!
			.section-content
				.container-fluid
					.row
						each member in team
							.item-container
								img(src="#{member.imgUrl}")
								h4 #{member.name}
								h4
									a(href="http://twitter.com/#{member.twitter}") @#{member.twitter}

	
