extends layout

block content
	header.landing
		h1 Little Rock Tech Fest
		h3 Focusing on growing technology and software development in Arkansas
		h4.venue Statehouse Convention Center

	.sponsors
		.section
			.section-header.blue-grey.darken-2
				h3.light-green-text.text-lighten-2 Sponsors
				h4 We are currently seeking sponsors for 2015. To see your logo here, please <a class="light-green-text text-lighten-2" href="/sponsors">contact</a> us!
			.section-content.sponsors-content
					.container-fluid
						.row.logo-row
							each sponsor in sponsors
								a(href="#{sponsor.Website}")
									.item-container
										.level
											i(class="fa fa-trophy #{sponsor.Level}")
											span #{sponsor.Level} Sponsor
										.logo-frame
											.logo-img
											img(src="#{sponsor.Logo}")
							a(href="/sponsors")
								.item-container
									.level
										i.fa.fa-trophy.silver
										span Sponsor Us!
									.logo-frame
										.logo-img
										img(src="/public/img/sponsors/default.png")
	.speakers.section
		.section-header.blue-grey.darken-2
			h3.light-green-text.text-lighten-2 Speakers
			h4 We are thrilled to welcome a talented lineup of speakers to LRTF 2015
		.section-content
			.row
				each speaker in speakers
					.col.m4
						.card.speaker-card
							.card-image.waves-effect.waves-block.waves-light
								img.activator(src="#{speaker.Photo}")
							.card-content
								span.card-title.activator.grey-text.text-darken-4
									| #{speaker.FirstName} #{speaker.LastName}
									i.material-icons.right more_vert
								p
									div
										if speaker.Company
											span.company #{speaker.Company}
										if speaker.Twitter
											a.twitter(href="http://twitter.com/#{speaker.Twitter}") @#{speaker.Twitter}
							.card-reveal
								span.card-title.grey-text.text-darken-4
									| #{speaker.FirstName} #{speaker.LastName}
									i.material-icons.right close
								p
									| Here is some more information about this product that is only revealed once clicked on.
