extends layout

block content
	#landing
		.container-fluid
			#time-place
				hr
				.time-place-inner
					span.fa.fa-calendar-o
					span Friday, October 16, 2015
					.sep
					span.h3.fa.fa-map-marker
					span Statehouse Convention Center
				hr
			#landing-content.text-center
				h1 Little Rock<br> Tech Fest
				h3 One-day <strong>technology</strong> conference featuring popular developer topics from industry leaders
		
			#announcement
				.row
					.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.alert.alert-warning
						p.text-center Tech Fest 2015 has a date! Mark your calendars for October 16th!
	#sponsors
		.section
			.section-header
				h2 Sponsors
				h3 We are currently seeking sponsors for 2015. To see your logo here, please <a href="/sponsors">contact</a> us!
			.section-content
				#sponsors-content
					.container-fluid
						.row.logo-row
							each sponsor in sponsors
								a(href="#{sponsor.Website}")
									.item-container
										.level
											i(class="fa fa-trophy #{sponsor.Level}")
											span #{sponsor.Level} Sponsor
										.logo-frame
											.logo-img
											img(src="#{sponsor.Logo}")
							a(href="/sponsors")
								.item-container
									.level
										i.fa.fa-trophy.silver
										span Sponsor Us!
									.logo-frame
										.logo-img
										img(src="/public/img/sponsors/default.png")
							a(href="/sponsors")
								.item-container
									.level
										i.fa.fa-trophy.silver
										span Sponsor Us!
									.logo-frame
										.logo-img
										img(src="/public/img/sponsors/default.png")
							a(href="/sponsors")
								.item-container
									.level
										i.fa.fa-trophy.silver
										span Sponsor Us!
									.logo-frame
										.logo-img
										img(src="/public/img/sponsors/default.png")
	#media
		.section
			.section-header
				h2 2014 Highlights
				h3 Little Rock Tech Fest 2014 was our best year ever! <a href="/2014"> View </a> our sponsors and speakers.
			.section-content
				.row
					.col-md-6
						.embed-container
							iframe(src='http://player.vimeo.com/video/108535414' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
					.col-md-6
						#carousel-2014-pics.carousel.slide(data-ride='carousel')
							ol.carousel-indicators
								li.active(data-target='#carousel-2014-pics', data-slide-to='0')
								- for (var i = 1; i < 16; ++i) {
								li(data-target='#carousel-2014-pics', data-slide-to='#{i}')
								- }
							.carousel-inner(role='listbox')
								.item.active
									img(src='/public/img/pics/lrtechfest-1.jpg', alt='Little Rock Techfest 2014 picture')
								- for (var i = 2; i < 17; i++) {
								.item
									img(src='/public/img/pics/lrtechfest-#{i}.jpg', alt='...')
								-}
							a.left.carousel-control(href='#carousel-2014-pics', role='button', data-slide='prev')
								span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
								span.sr-only Previous
							a.right.carousel-control(href='#carousel-2014-pics', role='button', data-slide='next')
								span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Next
	#team
		.section
			.section-header
				h2 The Team
				h4 Meet the team behind Little Rock Tech Fest. Feel free to chat us up with questions, concerns and ideas.
				h4 Want to help plan the premeier developer conference in Arkansas? Drop us a line and we'll put you to work!
			.section-content
				.container
						each member in team
							.item-container
								img(src="#{member.imgUrl}")
								h4 #{member.name}
								- if (member.twitter){
								h4
									if member.twitter 
										a(href="http://twitter.com/#{member.twitter}") @#{member.twitter}
									else 
										&nbsp;
								-}

	
