
mixin sessions (presentationList, parentId)
	each presentation in presentationList
		.panel.schedule-item
			.lecture-icon-wrapper
				if presentation.IconClass
					span(class=presentation.IconClass)
				else
					a(href="/topics##{presentation.SpeakerSlug}")
						img.img-responsive(src='#{presentation.Photo}', alt='')
			a.schedule-item-toggle(data-toggle='collapse', data-parent=parentId, href="##{presentation.ElementId}")
				strong.time.highlight
					span.icon.icon-office-24
					| #{presentation.Time} -- <span class="#{presentation.Room}"><i class="fa fa-map-marker" style="color:#babfcc;" aria-hidden="true"></i> #{presentation.Room}</span>
				h6.title !{presentation.Topic}
					i.icon.icon-arrows-06
			div(id=presentation.ElementId, class="panel collapse collapse schedule-item-body")
				article
					p.description
						| !{presentation.Description}
					a(href="/topics##{presentation.SpeakerSlug}")
						strong.highlight.speaker-name #{presentation.SpeakerName}

doctype html
html
	head
		meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Little Rock Tech Fest
		//- link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700", rel='stylesheet', type='text/css')
		//- link(href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
		link(link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css")
		block stylesheets
		link(href="/public/css/animations.css", rel="stylesheet")
		link(href="/public/css/style.css", rel="stylesheet")
		link(href="/public/css/style-green-color.css", rel="stylesheet")
		link(href="/public/css/custom.css", rel="stylesheet")
		script(src="/public/js/google-analytics.js")
		script.
			<!-- Facebook Pixel Code -->
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '132849980489175');
			fbq('track', "PageView");
		noscript.
			<img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=132849980489175&ev=PageView&noscript=1"
			/>
		<!-- End Facebook Pixel Code -->

		<!-- For Facebook sharing -->
		meta(property="og:title" content="Little Rock Tech Fest")
		meta(property="og:description" content="Little Rock Tech Fest is an annual developer conference featuring popular web, mobile and related developer topics from industry leaders. It is the event in Little Rock for both professional and aspiring software developers. Speakers from across the country come to present. Students and professionals from across Arkansas and surrounding regions come to learn and network with peers.")
		meta(property="og:image", content="http://www.lrtechfest.com/public/img/lrtf-logo-fb.png")
		meta(property="og:url", content="http://www.lrtechfest.com")
		meta(property="og:site_name", content="Little Rock Tech Fest")
		meta(property="og:type", content="website")
	body
		//- .preloader-mask
		//- 	.preloader
		section#hero.hero-section.bg1.light-text

			ul.socials-nav
				li.socials-nav-item
					a(href="https://twitter.com/LRTechFest" target="_blank")
						span.fa.fa-twitter
				li.socials-nav-item
					a(href="https://www.facebook.com/LittleRockTechFest" target="_blank")
						span.fa.fa-facebook
				li.socials-nav-item
					a(href="mailto:info@lrtechfest.com?Subject=TechFest")
						span.fa.fa-envelope
			.heading-block.centered-block.align-center
				.container
					h5.heading-alt(style="margin-bottom: 8px;")
						span.fa.fa-calendar-o.base-clr-txt
						span October 5 - 6, 2017
						span.fa.fa-map-marker.base-clr-txt
						span Little Rock, AR
					h1.extra-heading Little Rock Tech Fest
					h6.thin.base-font Two days of learning, networking, and fun for web and software developers
					.btns-container
						a(class="btn btn-primary btn-md" href="https://www.eventbrite.com/e/little-rock-tech-fest-2017-tickets-35122747082") Register Now
					//- span.
					//- 	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

					//- 	<div id="mc_embed_signup">
					//- 	<form action="//lrtechfest.us10.list-manage.com/subscribe/post?u=7f81e7471c2c58788b0939cda&amp;id=6d7d04a0b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					//- 	<div id="mc_embed_signup_scroll">
					//- 	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
					//- 	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					//- 	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f81e7471c2c58788b0939cda_6d7d04a0b2" tabindex="-1" value=""></div>
					//- 	<div class="clear"><input type="submit" value="Keep Me Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm"></div>
					//- 	</div>
					//- 	</form>
					//- 	</div>
		header.header.header-black
			.header-wrapper
				.container
					.col-sm-2.col-xs-12.navigation-header
						a.logo(href="/")
							img(src="/public/img/lrtf-logo-small.png" style="height:80px;margin-top: -24px;")
						button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
					.col-sm-10.col-xs-12.navigation-container
						#navigation.navbar-collapse.collapse
							ul.navigation-list.pull-left.light-text
								li.navigation-item
									a(class="navigation-link" href="#about") About
								li.navigation-item
									a(class="navigation-link" href="#speakers") Speakers
								li.navigation-item
									a(class="navigation-link" href="#tickets") Tickets
								li.navigation-item
									a(class="navigation-link" href="#location") Location
								li.navigation-item.dropdown
									a.navigation-link.dropdown-toggle(href="/#sponsors") Sponsors
									ul.dropdown-menu
										li.navigation-item
											a(class="navigation-link" href="/sponsors") Become a sponsor
									li.navigation-item
										a(class="navigation-link" href="/jobs") Jobs
							//- .pull-right.buy-btn
								//- a(class="navigation-link" href="https://www.papercall.io/lrtf2017") Call for Speakers
		section#about.section.align-center
			.container
				.icon.section-icon.icon-multimedia-12
				h3 You want to be at #LRTF 2017
				p.text-alt This will be a full two days of  format, hosted on October 5th and 6th<br class="hidden-sm hidden-xs"/> at the Statehouse Convention Center in Little Rock, Arkansas.

				.col-sm-6
					p.align-left Little Rock Tech Fest is an annual developer conference featuring popular web, mobile, database, devops and related developer topics from industry leaders. It is the event in Little Rock for both professional and aspiring software developers. Speakers from across the country come to present. Students and professionals from across Arkansas and surrounding regions come to learn and network with peers.


				.col-sm-6
					p.align-left Our purpose is to encourage local professionals to increase their skills and to promote the Little Rock region to both experienced and aspiring developers and students.

					p.align-left This is our fifth year hosting the event.  Will you join us?

		section#speakers.section.align-center
			.container
				span.icon.section-icon.icon-faces-users-04
				h3 Speakers
				p.text-alt Meet our 2017
					span.highlight speakers!
				br
				br
				each speaker in speakers
					.col-sm-4.col-xs-6.make-column
						.speaker
							a(href="/topics##{speaker.slug}")
								.photo-wrapper.rounded
									img(src="#{speaker.Photo}" alt="#{speaker.FirstName} #{speaker.LastName}" class="img-responsive" )
								h3.name #{speaker.FirstName} #{speaker.LastName}
								each pre in speaker.Presentations
									p.text-alt
										small #{pre.Topic}
								p.text-alt
									small #{speaker.Company}
							ul.speaker-socials
								if speaker.Twitter
									li
										a(href="https://twitter.com/#{speaker.Twitter}")
											.fa.fa-twitter
								if speaker.LinkedIn
									li
										a(href="#{speaker.LinkedIn}")
											.fa.fa-linkedin
								if speaker.Website
									li
										a(href="#{speaker.Website}")
											.fa.fa-globe

		section#tickets.section.align-center
			.container
				span.icon.section-icon.icon-shopping-04
				h3 Tickets
				br
				br
				div.row
					div.col-sm-4.col-sm-offset-2
						div.package-column
							h6.package-title Student Ticket
							div.package-price
								span.currency $50
							div.package-detail
								ul
									li
										span.fa.fa-check.check-icon
										span Lunch both days
									li
										span.fa.fa-check.check-icon
										span T-shirt
									li
										span.fa.fa-check.check-icon
										span Swag
									li
										span.fa.fa-check.check-icon
										span Must have valid .edu email.
									li
										| &nbsp;

							a(href="https://www.eventbrite.com/e/little-rock-tech-fest-2017-tickets-35122747082" class="btn btn-lg btn-outline-clr" onclick="fbq('track', 'Lead', { type: 'Student' });" target="_blank") Buy now

					//- div.col-sm-4
					//- 	div.package-column.special-column#earlybird
					//- 		span.sale-label.uppercase Hot!
					//- 		h6.package-title Early Bird
					//- 		div.package-price
					//- 			span.currency $75
					//- 		div.package-detail
					//- 			ul
					//- 				li
					//- 					span.fa.fa-check.check-icon
					//- 					span Lunch both days
					//- 				li
					//- 					span.fa.fa-check.check-icon
					//- 					span T-shirt
					//- 				li
					//- 					span.fa.fa-check.check-icon
					//- 					span Swag
					//- 				li
					//- 					| &nbsp;
					//- 				li
					//- 					| &nbsp;
					//- 		a(href="https://www.eventbrite.com/e/little-rock-tech-fest-2017-tickets-35122747082" class="btn btn-lg" onclick="fbq('track', 'Lead', { type: 'EarlyBird' });" target="_blank") Buy now

					div.col-sm-4
						div.package-column
							h6.package-title Standard Ticket
							div.package-price
								span.currency $100
							div.package-detail
								ul
									li
										span.fa.fa-check.check-icon
										span Lunch both days
									li
										span.fa.fa-check.check-icon
										span T-shirt
									li
										span.fa.fa-check.check-icon
										span Swag
									li
										| &nbsp;
									li
										| &nbsp;

								a(href="https://www.eventbrite.com/e/little-rock-tech-fest-2017-tickets-35122747082" class="btn btn-lg btn-outline-clr" onclick="fbq('track', 'Lead', { type: 'Standard' });" target="_blank") Buy now

		section#sponsors.section.align-center
					.container
						span.icon.section-icon.icon-documents-bookmarks-12
						h3 Sponsors
						p These are the organizations that help us make this event possible. <a href="/sponsors">Want to see your logo here?</a>

							h5.heading-alt Platinum
							.sponsors
							each sponsor in sponsors
								if sponsor.Level == "Platinum"
									.sponsor.inline.platinum
										a(href="#{sponsor.Website}" target="_blank")
											img(src="#{sponsor.Logo}" alt="#{sponsor.Name}")

							h5.heading-alt Gold
							.sponsors
							each sponsor in sponsors
								if sponsor.Level == "Gold"
									.sponsor.inline.gold
										a(href="#{sponsor.Website}" target="_blank")
											img(src="#{sponsor.Logo}" alt="#{sponsor.Name}")

							h5.heading-alt Silver
							.sponsors
							each sponsor in sponsors
								if sponsor.Level == "Silver"
									.sponsor.inline.silver
										a(href="#{sponsor.Website}" target="_blank")
											img(src="#{sponsor.Logo}" alt="#{sponsor.Name}")

							h5.heading-alt Bronze
							.sponsors
							each sponsor in sponsors
								if sponsor.Level == "Bronze"
									.sponsor.inline.small.bronze
										a(href="#{sponsor.Website}" target="_blank")
											img(src="#{sponsor.Logo}" alt="#{sponsor.Name}")

		section#location
			.contacts-wrapper
				#contacts-map.map(data-settings="/public/data/map-settings.json" style="height:560px;")

				.container.contacts-on-map-container
					.contacts-on-map
						h3 Event Location
						h5 Statehouse Convention Center
						ul.list
							li
								i.fa.fa-map-marker
								span 101 E Markham St, Little Rock, AR 72201
							li
								i.fa.fa-map-o
								a(href="https://www.google.com/maps/place/Statehouse+Convention+Center/@34.7487084,-92.2728966,17z/data=!4m13!1m7!3m6!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!2sStatehouse+Convention+Center!3b1!8m2!3d34.7487084!4d-92.2707079!3m4!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!8m2!3d34.7487084!4d-92.2707079" target="_blank") Get directions

		section#gallery.section.align-center
			.container
				h3 Blast from the Past
				br
				a(class="btn btn-info btn-md" href="https://www.youtube.com/playlist?list=PLdxmYKMmdZB3mpMtLAyueLAD4WDgCFHRs") Watch LRTF 2016 Videos
				br
				br
				.gallery.masonry
					each image in gallery
						span.masonry-item.masonry-brick
							a.gallery-thumb-link(href="#" data-modal-link="#{image.modal}")
								img(src="#{image.thumb_imgUrl}")
							.modal-window(data-modal="#{image.modal}")
								.modal-box.medium.animated(data-animation="zoomIn" data-duration="700")
									span.close-btn.icon.icon-office-52
									br
									img.full-width-img(src="#{image.full_imgUrl}" alt="#{image.alt}")

		section.section.align-center
			.container
				h5 LRTF brought to you with <i class="fa fa-heart"></i> by
				.speakers.masonry
					each member in team
						.speaker.masonry-item
							.speaker-top
								.photo-wrapper
									img.img-responsive(src="#{member.imgUrl}")
								.speaker-title
									h3.name #{member.name}
									p.text-alt <small> #{member.title} @ #{member.company} </small>
								ul.speaker-socials
									if member.twitter
										li
											a(href="http://twitter.com/#{member.twitter}" target="_blank")
												span.fa.fa-twitter
									else
										li &nbsp;

									if member.linkedin
										li
											a(href="http://linkedin.com/in/#{member.linkedin}" target="_blank")
												span.fa.fa-linkedin
									else
										li &nbsp;

									if member.github
										li
											a(href="http://github.com/#{member.github}" target="_blank")
												span.fa.fa-github
									else
										li &nbsp;

		section.footer
			.footer-base
				.container
					.col-md-6
						ul.footer-nav
							li.footer-nav-item
								a(href="mailto:info@lrtechfest.com") Contact
							li.code-of-conduct
								a(href="http://confcodeofconduct.com/") Code of Conduct
							//- li.footer-nav-item
							//- 	a(href="#") Privacy policy
							//- li.footer-nav-item
							//- 	a(href="#") Press
					.col-md-6.align-right
						ul.socials-nav.align-right
							li.socials-nav-item
								a(href="https://twitter.com/LRTechFest" target="_blank")
									span.fa.fa-twitter
							li.socials-nav-item
								a(href="https://www.facebook.com/LittleRockTechFest" target="_blank")
									span.fa.fa-facebook
							li.socials-nav-item
								a(href="mailto:info@lrtechfest.com?Subject=TechFest")
									span.fa.fa-envelope
						p.text-alt
							small All Rights Reserved © 2017&nbsp;

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBI59PHKJ6RKHij4YneTlmGbjyfrX6nBG8")

		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		block scripts
		script(type="text/javascript" src="/public/js/masonry.pkgd.min.js")
		script(type="text/javascript" src="/public/js/modal-box.js")
		script(type="text/javascript" src="/public/js/jquery.waypoints.min.js")
		script(src="/public/js/theme.js")
		script(src="/public/js/site.js")

		script.
			<!-- Drip -->
			var _dcq = _dcq || [];
			var _dcs = _dcs || {};
			_dcs.account = '3825101';
			(function() {
				var dc = document.createElement('script');
				dc.type = 'text/javascript'; dc.async = true;
				dc.src = '//tag.getdrip.com/3825101.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(dc, s);
			})();
