extends layout

block content
	section.align-center(style="padding: 50px 0")
		div.container
			h5.heading-alt Jobs
				hr
	//- a.pull-right.btn.btn-lg(href="#") List your job
	section#jobs
		each job in jobs
			div.col-xs-12.col-sm-12.col-md-8.col-md-offset-2.job-wrap
				a(href="/jobDesc" class="job-anchor")
					div.col-sm-12.job-content
						span.col-sm-2.col-xs-2.logo
							img(src="#{job.logo}", alt="Logo")
						span.col-sm-10.col-xs-10.content-top
							h6.col-sm-8.col-xs-8 #{job.shortDesc}
							p.col-sm-4.col-xs-4(style="text-align: right;") #{job.type}
						span.col-sm-10.col-xs-10.content-bottom
							p.col-sm-8.col-xs-8 #{job.compName}
							p(style="text-align: right;").col-sm-4.col-xs-4<i class="fa fa-map-marker" aria-hidden="true"></i>  #{job.location}
				
	hr