extends layout

block content
	//- section.section
		//- .container
			//- .section-header
				//- h1 Are you <span class="highlight">looking for a job</span>?
				//- p Check out these opportunties available at companies that sponsor Little Rock Tech Fest.


	section.fullwidth-section.section-content
		div.container.fullwidth-path(style="padding: 80px 0")
			#jobs.row
				div.col-md-8
					h1 
						| Are you 
						span.highlight looking for a job
						| ?
					h6 We're collecting opportunties available at the companies that sponsor Little Rock Tech Fest.
					br
					h6.highlight Check back soon!
					each job in jobs
						a(href="/jobs/detail/"+job.id)
							div.row
								div.col-xs-4.logo.col-sm-3
									img(src=job.logo, alt="Logo", style="padding-left:10px; padding-right:10px")
								div.col-xs-8.col-sm-6
									h6 #{job.posTitle}
									p #{job.orgName}
								div.col-xs-8.col-xs-offset-4.col-sm-3.col-sm-offset-0
									p #{job.posType}
									p <i class="fa fa-map-marker" aria-hidden="true"></i>  #{job.location}
						hr
				div.col-md-4.post-job
					h6 Want your job listed here?
					p All sponsors can post jobs.
					a(href="https://docs.google.com/forms/d/e/1FAIpQLSdTK4MmkW13KfKwurMvTvtbjFFsAs93bB9f8_5ej2mP5l3xSQ/viewform?usp=sf_link" class="btn btn-lg") Post A Job!
