extends layout

block content
	.section
		.section-header
			h2 Session #{sessionId} (#{sessionStartTime})

	#speakerdetail.container-fluid.section-content
	
		ul.collection.collapsible.popout
			each talk in talks
				li
					h3.center-align #{talk.RoomName}
					hr
					.collapsible-header.collection-item.avatar
						div 
							img.circle(src="#{talk.Photo}" alt="#{talk.Name}")
							h4 #{talk.Name} 
							strong #{talk.PresTitle}
						
						.secondary-content: i.fa.fa-chevron-left
					.collapsible-body
						p
							strong  #{talk.Description}
