extends layout

block content
	.section
		.section-header
			h2 2015 Speakers 

	#speakerdetail.container-fluid.section-content
		a(href="/schedule" class="speaker-contact-item")
					span Check out the Conference Schedule
		ul.collection.collapsible.popout
			each speaker in speakers
				li(id="#{speaker.FirstName}-#{speaker.LastName}")
					.collapsible-header.collection-item.avatar
						img.circle(src="#{speaker.Photo}" alt="#{speaker.FirstName} #{speaker.LastName}")
						p.title #{speaker.FirstName} #{speaker.LastName} 
						p 
							|#{speaker.Presentations[0].Topic}
							.speaker-detail-links
								if(speaker.Company)
									div.fa.fa-building
										span.speaker-contact-item
											span #{speaker.Company}
								if(speaker.Twitter)
									div.fa.fa-twitter
										a(href="http://www.twitter.com/#{speaker.Twitter}" class="speaker-contact-item")
											span #{speaker.Twitter}
								if(speaker.Website)
									span.fa.fa-globe.truncate
										a(href="#{speaker.Website}" class="speaker-contact-item")
											span #{speaker.Website}
						.secondary-content: i.fa.fa-chevron-left
					.collapsible-body
						p
							strong Speaker Bio:
							| #{speaker.Bio}
						p
							strong Talk Description:
							| #{speaker.Presentations[0].Description}
