extends layout

block content
	section.section.align-center
		div.container
			h5.heading-alt Speakers masonry
			p.text-alt Meet our 
				span.highlight professonals
			br
			br

			div.speakers.masonry
				each speaker in speakers
					div.speaker.masonry-item
						div.speaker-top
							div.photo-wrapper.rounded
								img(src="#{speaker.Photo}" alt="" class="img-responsive")
							div.speaker-title
								h3.name #{speaker.FirstName} #{speaker.LastName}
								p.text-alt
									small #{speaker.Company}
							ul.speaker-socials
								li
									a(href="#{speaker.Twitter}")
										span.fa.fa-twitter
								li
									a(href="#{speaker.LinkedIn}")
										span.fa.fa-linkedin

						p.about !{speaker.Bio}

	hr